<footer class="overflow-hidden">
  <div class="all-content text-white">
    <div class="row p-3">
      <div class="col-md-4">
        <div class="content">
          <div class="content-1 text-center text-uppercase mt-2">
            <h4>Location</h4>
            <p class="m-0 p-0">Cairo, Egypt</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="content">
          <div class="content-2 text-center text-uppercase mt-2">
            <h4>Around the web</h4>
            <div class="icons">
              <ul class="list-unstyled d-flex justify-content-center align-items-center">
                <li class="px-2" id="ln">
                  <a href="https://www.linkedin.com/" target="_blank" class="text-white">
                    <i class="fa-brands fa-linkedin-in border rounded-circle p-2"></i>
                  </a>
                </li>
                <li class="px-2" id="gh">
                  <a href="https://www.github.com/" target="_blank" class="text-white">
                    <i class="fa-brands fa-github border rounded-circle p-2"></i>
                  </a>
                </li>
                <li class="px-2" id="dr">
                  <a href="https://www.docker.com/" target="_blank" class="text-white">
                    <i class="fa-brands fa-docker border rounded-circle p-2"></i>
                  </a>
                </li>
                <li class="px-2" id="be">
                  <a href="https://www.behance.net/" target="_blank" class="text-white">
                    <i class="fa-brands fa-behance border rounded-circle p-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="content">
          <div class="content-3 text-center text-uppercase mt-2">
            <h4>about freelancer</h4>
            <p class="m-0 p-0">Freelance is a free to use, licensed Bootstrap theme created by</p>
            <p class="lead">Youssef ahmed</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content-caption text-center text-white p-3">
          <p>Copyright © My Website 2025</p>
        </div>
      </div>
    </div>
  </div>
</footer>