<section>
  <div class="about-content text-white mt-5 py-5 h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content text-center mt-5 mb-3">
            <h2 class="my-3">About</h2>
            <div class="line line-bg custom-h rounded-pill mx-auto mt-2">
              <i class="fa-solid fa-star border rounded-circle p-1 custom-bg star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content text-center my-5">
            <p>
              Freelancer is a free bootstrap theme created by Route. The download includes the complete source 
              files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content text-center my-5">
            <p>
              Freelancer is a free bootstrap theme created by Route. The download includes the complete source 
              files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>