<nav class="navbar navbar-expand-lg bg-custom fixed-top" [class.py-4]='scroll'>
  <div class="container">
    <a class="navbar-brand text-white fs-3" routerLink="home">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto py-2 mb-2 mb-lg-0">
        <li class="nav-item px-2 fs-5">
          <a class="nav-link text-white" routerLink="about" routerLinkActive='bg-success rounded-pill'>About</a>
        </li>
        <li class="nav-item px-2 fs-5">
          <a class="nav-link text-white" routerLink="portfolio" routerLinkActive='bg-success rounded-pill'>Portfolio</a>
        </li>
        <li class="nav-item px-2 fs-5">
          <a class="nav-link text-white" routerLink="contact" routerLinkActive='bg-success rounded-pill'>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>