<section>
  <div class="portfolio-content my-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="caption text-center">
            <h2 class="my-3">Portfolio</h2>
            <div class="line line-bg custom-h rounded-pill mx-auto my-2">
              <i class="fa-solid fa-star border rounded-circle p-1 text-white custom-bg star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <div class="img">
            <img src="/images/poert1.png" class="w-100">
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <img src="/images/port2.png" class="w-100">
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <img src="/images/port3.png" class="w-100">
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="img">
            <img src="/images/poert1.png" class="w-100">
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <img src="/images/port2.png" class="w-100">
          </div>
        </div>
        <div class="col-md-4">
            <div class="img">
              <img src="/images/port3.png" class="w-100">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>