.custom-bg {
  background-color: #537692;
}
.line-bg {
  background-color: #b3cde4;
}
.custom-h {
  height: 5px;
  width: 12%;
}
.star {
  transform: translateY(-10px);
}

.img {
  .layer {
    inset: 0;
    background-color: #537692b4;
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover .layer {
    opacity: 1;
  }
}