<header>
  <div class="home">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="img-content">
            <div class="img text-center mt-5 mb-3">
              <img src="/images/avataaars.svg" class="w-25">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="caption-content">
            <div class="caption text-center text-white mb-5">
              <h2>Angular Project</h2>
              <p class="lead">Welcome To Angular</p>
              <div class="line line-bg custom-h rounded-pill mx-auto my-2">
                <i class="fa-solid fa-star border rounded-circle p-1 custom-bg star"></i>
              </div>
              <p class="lead text-capitalize mt-2">i'm anglar frontend web developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>